*.js
*.yml
*.yaml
*.exe
*.blockmap
*.pak
*.dll
*.dat
*.txt
*.html
*.asar
*.bin
*.json
node_modules/7zip-bin/linux/arm/7za
*.sh
*.ts
node_modules/7zip-bin/linux/arm64/7za
node_modules/7zip-bin/linux/ia32/7za
node_modules/7zip-bin/linux/x64/7za
node_modules/7zip-bin/mac/arm64/7za
node_modules/7zip-bin/mac/x64/7za
*.md
node_modules/@develar/schema-utils/LICENSE
*.map
node_modules/@electron/asar/node_modules/brace-expansion/LICENSE
node_modules/@electron/asar/node_modules/minimatch/LICENSE
node_modules/@electron/get/LICENSE
node_modules/@electron/notarize/LICENSE
node_modules/@electron/notarize/node_modules/jsonfile/LICENSE
node_modules/@electron/notarize/node_modules/fs-extra/LICENSE
node_modules/@electron/notarize/node_modules/universalify/LICENSE
*.plist
node_modules/@electron/osx-sign/LICENSE
node_modules/@electron/osx-sign/node_modules/fs-extra/LICENSE
node_modules/@electron/osx-sign/node_modules/jsonfile/LICENSE
node_modules/@electron/osx-sign/node_modules/universalify/LICENSE
node_modules/@electron/rebuild/LICENSE
node_modules/@electron/rebuild/node_modules/fs-extra/LICENSE
node_modules/@electron/rebuild/node_modules/jsonfile/LICENSE
node_modules/@electron/rebuild/node_modules/semver/LICENSE
node_modules/@electron/rebuild/node_modules/semver/range.bnf
node_modules/@electron/rebuild/node_modules/universalify/LICENSE
node_modules/@electron/universal/LICENSE
node_modules/@electron/universal/node_modules/brace-expansion/LICENSE
node_modules/@electron/universal/node_modules/fs-extra/lib/esm.mjs
node_modules/@electron/universal/node_modules/fs-extra/LICENSE
node_modules/@electron/universal/node_modules/jsonfile/LICENSE
node_modules/@electron/universal/node_modules/minimatch/LICENSE
node_modules/@electron/universal/node_modules/universalify/LICENSE
*.cjs
*.cts
*.mjs
node_modules/@isaacs/cliui/node_modules/ansi-regex/license
node_modules/@isaacs/cliui/node_modules/ansi-styles/license
node_modules/@isaacs/cliui/node_modules/string-width/license
node_modules/@isaacs/cliui/node_modules/strip-ansi/license
node_modules/@isaacs/cliui/node_modules/wrap-ansi/license
node_modules/@malept/cross-spawn-promise/LICENSE
node_modules/@malept/flatpak-bundler/LICENSE
node_modules/@malept/flatpak-bundler/node_modules/fs-extra/LICENSE
node_modules/@malept/flatpak-bundler/node_modules/jsonfile/LICENSE
node_modules/@malept/flatpak-bundler/node_modules/universalify/LICENSE
node_modules/@npmcli/fs/lib/cp/LICENSE
node_modules/@npmcli/fs/node_modules/semver/LICENSE
node_modules/@npmcli/fs/node_modules/semver/range.bnf
node_modules/@pkgjs/parseargs/.editorconfig
node_modules/@pkgjs/parseargs/LICENSE
node_modules/@sindresorhus/is/license
node_modules/@szmarczak/http-timer/LICENSE
node_modules/@tootallnate/once/LICENSE
node_modules/@types/cacheable-request/LICENSE
node_modules/@types/debug/LICENSE
node_modules/@types/fs-extra/LICENSE
node_modules/@types/http-cache-semantics/LICENSE
node_modules/@types/keyv/LICENSE
node_modules/@types/ms/LICENSE
node_modules/@types/node/LICENSE
node_modules/@types/responselike/LICENSE
node_modules/@types/yauzl/LICENSE
node_modules/@xmldom/xmldom/LICENSE
node_modules/abbrev/LICENSE
node_modules/agent-base/LICENSE
node_modules/agentkeepalive/LICENSE
node_modules/aggregate-error/license
node_modules/ajv-keywords/keywords/dot/_formatLimit.jst
node_modules/ajv-keywords/keywords/dot/patternRequired.jst
node_modules/ajv-keywords/keywords/dot/switch.jst
node_modules/ajv-keywords/LICENSE
node_modules/ajv/lib/dot/_limit.jst
node_modules/ajv/lib/dot/_limitItems.jst
node_modules/ajv/lib/dot/_limitLength.jst
node_modules/ajv/lib/dot/_limitProperties.jst
node_modules/ajv/lib/dot/allOf.jst
node_modules/ajv/lib/dot/anyOf.jst
node_modules/ajv/lib/dot/coerce.def
node_modules/ajv/lib/dot/comment.jst
node_modules/ajv/lib/dot/const.jst
node_modules/ajv/lib/dot/contains.jst
node_modules/ajv/lib/dot/defaults.def
node_modules/ajv/lib/dot/definitions.def
node_modules/ajv/lib/dot/dependencies.jst
node_modules/ajv/lib/dot/enum.jst
node_modules/ajv/lib/dot/errors.def
node_modules/ajv/lib/dot/custom.jst
node_modules/ajv/lib/dot/format.jst
node_modules/ajv/lib/dot/if.jst
node_modules/ajv/lib/dot/items.jst
node_modules/ajv/lib/dot/missing.def
node_modules/ajv/lib/dot/multipleOf.jst
node_modules/ajv/lib/dot/not.jst
node_modules/ajv/lib/dot/oneOf.jst
node_modules/ajv/lib/dot/pattern.jst
node_modules/ajv/lib/dot/properties.jst
node_modules/ajv/lib/dot/propertyNames.jst
node_modules/ajv/lib/dot/ref.jst
node_modules/ajv/lib/dot/required.jst
node_modules/ajv/lib/dot/uniqueItems.jst
node_modules/ajv/lib/dot/validate.jst
node_modules/ajv/LICENSE
node_modules/ajv/scripts/info
node_modules/ajv/scripts/prepare-tests
node_modules/ajv/scripts/publish-built-version
node_modules/ajv/scripts/travis-gh-pages
node_modules/ansi-regex/license
node_modules/ansi-styles/license
node_modules/app-builder-bin/LICENSE
node_modules/app-builder-bin/linux/arm/app-builder
node_modules/app-builder-bin/linux/arm64/app-builder
node_modules/app-builder-bin/linux/ia32/app-builder
node_modules/app-builder-bin/linux/loong64/app-builder
node_modules/app-builder-bin/linux/riscv64/app-builder
node_modules/app-builder-bin/linux/x64/app-builder
node_modules/app-builder-bin/mac/app-builder_amd64
node_modules/app-builder-bin/mac/app-builder_arm64
node_modules/app-builder-lib/certs/root_certs.keychain
node_modules/app-builder-lib/node_modules/fs-extra/LICENSE
node_modules/app-builder-lib/node_modules/jsonfile/LICENSE
node_modules/app-builder-lib/node_modules/semver/LICENSE
node_modules/app-builder-lib/node_modules/semver/range.bnf
node_modules/app-builder-lib/node_modules/universalify/LICENSE
node_modules/app-builder-lib/templates/appx/appxmanifest.xml
node_modules/app-builder-lib/templates/appx/priconfig.xml
node_modules/app-builder-lib/templates/icons/electron-linux/128x128.png
node_modules/app-builder-lib/templates/icons/electron-linux/16x16.png
node_modules/app-builder-lib/templates/icons/electron-linux/256x256.png
node_modules/app-builder-lib/templates/icons/electron-linux/32x32.png
node_modules/app-builder-lib/templates/icons/electron-linux/48x48.png
node_modules/app-builder-lib/templates/icons/electron-linux/64x64.png
node_modules/app-builder-lib/templates/icons/proton-native/linux/1024x1024.png
node_modules/app-builder-lib/templates/icons/proton-native/linux/128x128.png
node_modules/app-builder-lib/templates/icons/proton-native/linux/16x16.png
node_modules/app-builder-lib/templates/icons/proton-native/linux/256x256.png
node_modules/app-builder-lib/templates/icons/proton-native/linux/32x32.png
node_modules/app-builder-lib/templates/icons/proton-native/linux/48x48.png
node_modules/app-builder-lib/templates/icons/proton-native/linux/512x512.png
node_modules/app-builder-lib/templates/icons/proton-native/linux/64x64.png
node_modules/app-builder-lib/templates/icons/proton-native/proton-native.icns
node_modules/app-builder-lib/templates/icons/proton-native/proton-native.ico
node_modules/app-builder-lib/templates/icons/proton-native/proton-native.svg
node_modules/app-builder-lib/templates/linux/after-install.tpl
node_modules/app-builder-lib/templates/linux/after-remove.tpl
node_modules/app-builder-lib/templates/linux/desktop.tpl
node_modules/app-builder-lib/templates/msi/template.xml
node_modules/app-builder-lib/templates/msiWrapped/template.xml
node_modules/app-builder-lib/templates/nsis/assistedInstaller.nsh
node_modules/app-builder-lib/templates/nsis/common.nsh
node_modules/app-builder-lib/templates/nsis/include/allowOnlyOneInstallerInstance.nsh
node_modules/app-builder-lib/templates/nsis/include/extractAppPackage.nsh
node_modules/app-builder-lib/templates/nsis/include/FileAssociation.nsh
node_modules/app-builder-lib/templates/nsis/include/getProcessInfo.nsh
node_modules/app-builder-lib/templates/nsis/include/installUtil.nsh
node_modules/app-builder-lib/templates/nsis/include/nsProcess.nsh
node_modules/app-builder-lib/templates/nsis/include/StdUtils.nsh
node_modules/app-builder-lib/templates/nsis/include/StrContains.nsh
node_modules/app-builder-lib/templates/nsis/include/installer.nsh
node_modules/pe-library/LICENSE
node_modules/pend/LICENSE
node_modules/picocolors/LICENSE
node_modules/plist/.jshintrc
node_modules/plist/LICENSE
node_modules/plist/Makefile
node_modules/progress/LICENSE
node_modules/progress/Makefile
node_modules/promise-inflight/LICENSE
node_modules/promise-retry/.editorconfig
node_modules/promise-retry/.jshintrc
node_modules/promise-retry/LICENSE
node_modules/pump/LICENSE
node_modules/quick-lru/license
node_modules/readable-stream/LICENSE
node_modules/readdir-glob/LICENSE
node_modules/readdir-glob/node_modules/brace-expansion/LICENSE
node_modules/readdir-glob/node_modules/minimatch/LICENSE
node_modules/require-directory/.jshintrc
node_modules/require-directory/.npmignore
node_modules/require-directory/LICENSE
node_modules/require-directory/README.markdown
node_modules/resedit/LICENSE
node_modules/resolve-alpn/LICENSE
node_modules/responselike/LICENSE
node_modules/restore-cursor/license
node_modules/retry/.npmignore
node_modules/retry/equation.gif
node_modules/retry/License
node_modules/retry/Makefile
node_modules/rimraf/LICENSE
node_modules/roarr/dist/constants.js.flow
node_modules/roarr/dist/factories/createLogger.js.flow
node_modules/roarr/dist/factories/createMockLogger.js.flow
node_modules/roarr/dist/factories/createNodeWriter.js.flow
node_modules/roarr/dist/factories/createRoarrInititialGlobalState.js.flow
node_modules/roarr/dist/factories/index.js.flow
node_modules/roarr/dist/log.js.flow
node_modules/roarr/dist/types.js.flow
node_modules/roarr/LICENSE
node_modules/safe-buffer/LICENSE
node_modules/safer-buffer/LICENSE
node_modules/sanitize-filename/.gitmodules
node_modules/sanitize-filename/AUTHORS
node_modules/semver-compare/LICENSE
node_modules/semver-compare/readme.markdown
node_modules/semver/LICENSE
node_modules/semver/range.bnf
node_modules/serialize-error/license
node_modules/shebang-command/license
node_modules/shebang-regex/license
node_modules/simple-update-notifier/LICENSE
node_modules/simple-update-notifier/node_modules/semver/LICENSE
node_modules/simple-update-notifier/node_modules/semver/range.bnf
node_modules/smart-buffer/LICENSE
node_modules/socks/LICENSE
node_modules/source-map/LICENSE
node_modules/sprintf-js/dist/.gitattributes
node_modules/sprintf-js/LICENSE
node_modules/stat-mode/LICENSE
node_modules/string-width-cjs/license
node_modules/string-width/license
node_modules/string_decoder/LICENSE
node_modules/strip-ansi-cjs/license
node_modules/strip-ansi/license
node_modules/sumchecker/LICENSE
node_modules/sumchecker/yarn.lock
node_modules/supports-color/license
node_modules/tar-stream/LICENSE
node_modules/tar/LICENSE
node_modules/tar/node_modules/minipass/LICENSE
node_modules/temp-file/node_modules/fs-extra/LICENSE
node_modules/temp-file/node_modules/jsonfile/LICENSE
node_modules/temp-file/node_modules/universalify/LICENSE
node_modules/tmp/LICENSE
node_modules/truncate-utf8-bytes/.gitmodules
node_modules/truncate-utf8-bytes/.npmignore
node_modules/truncate-utf8-bytes/AUTHORS
node_modules/type-fest/license
node_modules/typescript/bin/tsc
node_modules/typescript/bin/tsserver
node_modules/undici-types/LICENSE
node_modules/unique-filename/LICENSE
node_modules/unique-slug/LICENSE
node_modules/universalify/LICENSE
node_modules/uri-js/LICENSE
node_modules/uri-js/yarn.lock
node_modules/utf8-byte-length/.gitmodules
node_modules/utf8-byte-length/AUTHORS
node_modules/util-deprecate/LICENSE
node_modules/wcwidth/.npmignore
node_modules/wcwidth/LICENSE
node_modules/which/bin/node-which
node_modules/which/LICENSE
node_modules/wide-align/LICENSE
node_modules/wrap-ansi-cjs/license
node_modules/wrap-ansi/license
node_modules/wrappy/LICENSE
node_modules/xmlbuilder/.nycrc
node_modules/xmlbuilder/LICENSE
node_modules/xmlbuilder/perf/basic/escaping.coffee
node_modules/xmlbuilder/perf/basic/object.coffee
node_modules/xmlbuilder/perf/index.coffee
node_modules/xmlbuilder/perf/perf.list
node_modules/y18n/LICENSE
node_modules/yallist/LICENSE
node_modules/yargs/LICENSE
node_modules/yargs/yargs
node_modules/yauzl/LICENSE
node_modules/yocto-queue/license
node_modules/zip-stream/LICENSE
node_modules/zip-stream/node_modules/archiver-utils/LICENSE
node_modules/app-builder-lib/templates/nsis/include/UAC.nsh
node_modules/app-builder-lib/templates/nsis/include/webPackage.nsh
node_modules/app-builder-lib/templates/nsis/installer.nsi
node_modules/app-builder-lib/templates/nsis/installSection.nsh
node_modules/app-builder-lib/templates/nsis/multiUser.nsh
node_modules/app-builder-lib/templates/nsis/multiUserUi.nsh
node_modules/app-builder-lib/templates/nsis/oneClick.nsh
node_modules/app-builder-lib/templates/nsis/portable.nsi
node_modules/app-builder-lib/templates/nsis/uninstaller.nsh
node_modules/aproba/LICENSE
node_modules/archiver-utils/LICENSE
node_modules/archiver-utils/node_modules/readable-stream/LICENSE
node_modules/archiver-utils/node_modules/safe-buffer/LICENSE
node_modules/archiver-utils/node_modules/string_decoder/LICENSE
node_modules/archiver/LICENSE
node_modules/argparse/LICENSE
node_modules/async-exit-hook/license
node_modules/async/LICENSE
node_modules/asynckit/LICENSE
node_modules/at-least-node/LICENSE
node_modules/base64-js/LICENSE
node_modules/bluebird/LICENSE
node_modules/brace-expansion/LICENSE
node_modules/buffer-crc32/LICENSE
node_modules/buffer-from/LICENSE
node_modules/buffer/LICENSE
node_modules/builder-util-runtime/LICENSE
node_modules/builder-util/LICENSE
node_modules/builder-util/node_modules/fs-extra/LICENSE
node_modules/builder-util/node_modules/jsonfile/LICENSE
node_modules/builder-util/node_modules/universalify/LICENSE
node_modules/cacache/node_modules/brace-expansion/LICENSE
node_modules/cacache/node_modules/glob/LICENSE
node_modules/cacache/node_modules/lru-cache/LICENSE
node_modules/cacache/node_modules/minimatch/LICENSE
node_modules/cacheable-lookup/LICENSE
node_modules/cacheable-request/LICENSE
node_modules/call-bind-apply-helpers/.eslintrc
node_modules/call-bind-apply-helpers/.nycrc
node_modules/call-bind-apply-helpers/LICENSE
node_modules/chalk/license
node_modules/chownr/LICENSE
node_modules/ci-info/LICENSE
node_modules/clean-stack/license
node_modules/cli-cursor/license
node_modules/cli-spinners/license
node_modules/clone-response/LICENSE
node_modules/clone/.npmignore
node_modules/clone/clone.iml
node_modules/clone/LICENSE
node_modules/color-convert/LICENSE
node_modules/color-name/LICENSE
node_modules/color-support/LICENSE
node_modules/combined-stream/License
node_modules/combined-stream/yarn.lock
node_modules/commander/LICENSE
node_modules/compress-commons/LICENSE
node_modules/concat-map/LICENSE
node_modules/concat-map/README.markdown
node_modules/config-file-ts/LICENSE
node_modules/config-file-ts/node_modules/brace-expansion/LICENSE
node_modules/config-file-ts/node_modules/glob/dist/esm/bin.d.mts
node_modules/config-file-ts/node_modules/glob/LICENSE
node_modules/config-file-ts/node_modules/minimatch/LICENSE
node_modules/console-control-strings/LICENSE
node_modules/console-control-strings/README.md~
node_modules/core-util-is/float.patch
node_modules/core-util-is/LICENSE
node_modules/crc-32/bin/crc32.njs
node_modules/crc-32/LICENSE
node_modules/crc32-stream/LICENSE
node_modules/cross-spawn/LICENSE
node_modules/debug/LICENSE
node_modules/decompress-response/license
node_modules/decompress-response/node_modules/mimic-response/license
node_modules/defaults/LICENSE
node_modules/defer-to-connect/LICENSE
node_modules/define-data-property/.eslintrc
node_modules/define-data-property/.nycrc
node_modules/define-data-property/LICENSE
node_modules/define-properties/.editorconfig
node_modules/define-properties/.eslintrc
node_modules/define-properties/.nycrc
node_modules/define-properties/LICENSE
node_modules/delayed-stream/.npmignore
node_modules/delayed-stream/License
node_modules/delayed-stream/Makefile
node_modules/delegates/.npmignore
node_modules/delegates/License
node_modules/delegates/Makefile
node_modules/detect-libc/LICENSE
node_modules/detect-node/LICENSE
node_modules/dir-compare/LICENSE
node_modules/dir-compare/node_modules/brace-expansion/LICENSE
node_modules/dir-compare/node_modules/minimatch/LICENSE
node_modules/dmg-builder/node_modules/fs-extra/LICENSE
node_modules/dmg-builder/node_modules/jsonfile/LICENSE
node_modules/dmg-builder/node_modules/universalify/LICENSE
node_modules/dmg-builder/templates/background.tiff
node_modules/dmg-builder/vendor/biplist/__init__.py
node_modules/dmg-builder/vendor/dmgbuild/badge.py
node_modules/dmg-builder/vendor/dmgbuild/colors.py
node_modules/dmg-builder/vendor/dmgbuild/core.py
node_modules/dmg-builder/vendor/ds_store/__init__.py
node_modules/dmg-builder/vendor/ds_store/buddy.py
node_modules/dmg-builder/vendor/ds_store/store.py
node_modules/dmg-builder/vendor/mac_alias/__init__.py
node_modules/dmg-builder/vendor/mac_alias/alias.py
node_modules/dmg-builder/vendor/mac_alias/bookmark.py
node_modules/dmg-builder/vendor/mac_alias/osx.py
node_modules/dmg-builder/vendor/mac_alias/utils.py
node_modules/dotenv-expand/LICENSE
node_modules/dotenv/LICENSE
node_modules/dunder-proto/.eslintrc
node_modules/dunder-proto/.nycrc
node_modules/dunder-proto/LICENSE
node_modules/ejs/LICENSE
node_modules/electron-builder-squirrel-windows/LICENSE
node_modules/electron-builder-squirrel-windows/node_modules/fs-extra/LICENSE
node_modules/electron-builder-squirrel-windows/node_modules/jsonfile/LICENSE
node_modules/electron-builder-squirrel-windows/node_modules/universalify/LICENSE
node_modules/electron-builder/LICENSE
node_modules/electron-builder/node_modules/fs-extra/LICENSE
node_modules/electron-builder/node_modules/jsonfile/LICENSE
node_modules/electron-builder/node_modules/universalify/LICENSE
node_modules/electron-publish/LICENSE
node_modules/electron-publish/node_modules/fs-extra/LICENSE
node_modules/electron-publish/node_modules/jsonfile/LICENSE
node_modules/electron-publish/node_modules/universalify/LICENSE
node_modules/electron/dist/LICENSE
node_modules/electron/dist/version
node_modules/electron/LICENSE
node_modules/encoding/LICENSE
node_modules/end-of-stream/LICENSE
node_modules/env-paths/license
node_modules/err-code/.editorconfig
node_modules/es-define-property/.eslintrc
node_modules/es-define-property/.nycrc
node_modules/es-define-property/LICENSE
node_modules/es-errors/.eslintrc
node_modules/es-errors/LICENSE
node_modules/es-object-atoms/.eslintrc
node_modules/es-set-tostringtag/.eslintrc
node_modules/es-object-atoms/LICENSE
node_modules/es-set-tostringtag/.nycrc
node_modules/es-set-tostringtag/LICENSE
node_modules/escalade/license
node_modules/escalade/sync/index.d.mts
node_modules/escape-string-regexp/license
node_modules/exponential-backoff/LICENSE
node_modules/extract-zip/LICENSE
node_modules/fast-deep-equal/LICENSE
node_modules/fast-json-stable-stringify/LICENSE
node_modules/fd-slicer/.npmignore
node_modules/fd-slicer/LICENSE
node_modules/filelist/node_modules/brace-expansion/LICENSE
node_modules/filelist/node_modules/minimatch/LICENSE
node_modules/foreground-child/LICENSE
node_modules/form-data/License
node_modules/fs-constants/LICENSE
node_modules/fs-extra/LICENSE
node_modules/fs-minipass/LICENSE
node_modules/fs.realpath/LICENSE
node_modules/function-bind/.eslintrc
node_modules/function-bind/.nycrc
node_modules/function-bind/LICENSE
node_modules/function-bind/test/.eslintrc
node_modules/get-intrinsic/.eslintrc
node_modules/get-intrinsic/.nycrc
node_modules/get-intrinsic/LICENSE
node_modules/get-proto/.eslintrc
node_modules/get-proto/.nycrc
node_modules/get-proto/LICENSE
node_modules/get-stream/license
node_modules/glob/LICENSE
node_modules/glob/node_modules/brace-expansion/LICENSE
node_modules/glob/node_modules/minimatch/LICENSE
node_modules/global-agent/.flowconfig
node_modules/global-agent/dist/classes/Agent.js.flow
node_modules/global-agent/dist/classes/HttpProxyAgent.js.flow
node_modules/global-agent/dist/classes/HttpsProxyAgent.js.flow
node_modules/global-agent/dist/classes/index.js.flow
node_modules/global-agent/dist/errors.js.flow
node_modules/global-agent/dist/factories/createGlobalProxyAgent.js.flow
node_modules/global-agent/dist/factories/createProxyController.js.flow
node_modules/global-agent/dist/factories/index.js.flow
node_modules/global-agent/dist/index.js.flow
node_modules/global-agent/dist/Logger.js.flow
node_modules/global-agent/dist/routines/bootstrap.js.flow
node_modules/global-agent/dist/routines/index.js.flow
node_modules/global-agent/dist/types.js.flow
node_modules/global-agent/dist/utilities/bindHttpMethod.js.flow
node_modules/global-agent/dist/utilities/index.js.flow
node_modules/global-agent/dist/utilities/isUrlMatchingNoProxy.js.flow
node_modules/global-agent/dist/utilities/parseProxyUrl.js.flow
node_modules/global-agent/LICENSE
node_modules/global-agent/node_modules/semver/LICENSE
node_modules/global-agent/node_modules/semver/range.bnf
node_modules/globalthis/.eslintrc
node_modules/globalthis/.nycrc
node_modules/globalthis/LICENSE
node_modules/gopd/.eslintrc
node_modules/gopd/LICENSE
node_modules/got/license
node_modules/graceful-fs/LICENSE
node_modules/has-flag/license
node_modules/has-property-descriptors/.eslintrc
node_modules/has-property-descriptors/.nycrc
node_modules/has-property-descriptors/LICENSE
node_modules/has-symbols/.eslintrc
node_modules/has-symbols/.nycrc
node_modules/has-symbols/LICENSE
node_modules/has-tostringtag/.eslintrc
node_modules/has-tostringtag/.nycrc
node_modules/has-tostringtag/LICENSE
node_modules/has-unicode/LICENSE
node_modules/hasown/.eslintrc
node_modules/hasown/.nycrc
node_modules/hasown/LICENSE
node_modules/hosted-git-info/LICENSE
node_modules/http-cache-semantics/LICENSE
node_modules/http-proxy-agent/LICENSE
node_modules/http2-wrapper/LICENSE
node_modules/https-proxy-agent/LICENSE
node_modules/humanize-ms/LICENSE
node_modules/iconv-lite/.idea/codeStyles/codeStyleConfig.xml
node_modules/iconv-lite/.idea/codeStyles/Project.xml
node_modules/iconv-lite/.idea/iconv-lite.iml
node_modules/iconv-lite/.idea/inspectionProfiles/Project_Default.xml
node_modules/iconv-lite/.idea/modules.xml
node_modules/iconv-lite/.idea/vcs.xml
node_modules/iconv-lite/LICENSE
node_modules/ieee754/LICENSE
node_modules/indent-string/license
node_modules/infer-owner/LICENSE
node_modules/inflight/LICENSE
node_modules/inherits/LICENSE
node_modules/ip-address/LICENSE
node_modules/is-ci/LICENSE
node_modules/is-fullwidth-code-point/license
node_modules/is-interactive/license
node_modules/is-lambda/.npmignore
node_modules/is-lambda/LICENSE
node_modules/is-unicode-supported/license
node_modules/isarray/.npmignore
node_modules/isarray/Makefile
node_modules/isexe/.npmignore
node_modules/isexe/LICENSE
node_modules/jake/Makefile
node_modules/js-yaml/LICENSE
node_modules/json-buffer/LICENSE
node_modules/json-schema-traverse/LICENSE
node_modules/json-stringify-safe/.npmignore
node_modules/json-stringify-safe/LICENSE
node_modules/json-stringify-safe/Makefile
node_modules/json-stringify-safe/test/mocha.opts
node_modules/jsonfile/LICENSE
node_modules/lazystream/LICENSE
node_modules/lazystream/node_modules/readable-stream/LICENSE
node_modules/lazystream/node_modules/safe-buffer/LICENSE
node_modules/lazystream/node_modules/string_decoder/LICENSE
node_modules/lodash.defaults/LICENSE
node_modules/lodash.difference/LICENSE
node_modules/lodash.flatten/LICENSE
node_modules/lodash.isplainobject/LICENSE
node_modules/lodash.union/LICENSE
node_modules/lodash/LICENSE
node_modules/log-symbols/license
node_modules/lowercase-keys/license
node_modules/lru-cache/LICENSE
node_modules/make-fetch-happen/LICENSE
node_modules/make-fetch-happen/node_modules/lru-cache/LICENSE
node_modules/matcher/license
node_modules/math-intrinsics/.eslintrc
node_modules/math-intrinsics/LICENSE
node_modules/mime-db/LICENSE
node_modules/mime-types/LICENSE
node_modules/mime/LICENSE
node_modules/mimic-fn/license
node_modules/mimic-response/license
node_modules/minimist/.eslintrc
node_modules/minimist/.nycrc
node_modules/minimist/LICENSE
node_modules/minipass-collect/LICENSE
node_modules/minipass-fetch/LICENSE
node_modules/minipass-pipeline/LICENSE
node_modules/minipass-sized/.npmignore
node_modules/minipass-sized/LICENSE
node_modules/minipass/LICENSE
node_modules/minizlib/LICENSE
node_modules/mkdirp/LICENSE
node_modules/mkdirp/readme.markdown
node_modules/negotiator/LICENSE
node_modules/node-abi/LICENSE
node_modules/node-abi/node_modules/semver/LICENSE
node_modules/node-abi/node_modules/semver/range.bnf
node_modules/node-api-version/node_modules/semver/LICENSE
node_modules/node-api-version/node_modules/semver/range.bnf
node_modules/node-gyp/addon.gypi
node_modules/node-gyp/gyp/.flake8
node_modules/node-gyp/gyp/AUTHORS
node_modules/node-gyp/gyp/data/win/large-pdb-shim.cc
node_modules/node-gyp/gyp/gyp
node_modules/node-gyp/gyp/gyp.bat
node_modules/node-gyp/gyp/gyp_main.py
node_modules/node-gyp/gyp/LICENSE
node_modules/node-gyp/gyp/pylib/gyp/__init__.py
node_modules/node-gyp/gyp/pylib/gyp/common.py
node_modules/node-gyp/gyp/pylib/gyp/common_test.py
node_modules/node-gyp/gyp/pylib/gyp/easy_xml.py
node_modules/node-gyp/gyp/pylib/gyp/easy_xml_test.py
node_modules/node-gyp/gyp/pylib/gyp/flock_tool.py
node_modules/node-gyp/gyp/pylib/gyp/generator/__init__.py
node_modules/node-gyp/gyp/pylib/gyp/generator/analyzer.py
node_modules/node-gyp/gyp/pylib/gyp/generator/android.py
node_modules/node-gyp/gyp/pylib/gyp/generator/cmake.py
node_modules/node-gyp/gyp/pylib/gyp/generator/compile_commands_json.py
node_modules/node-gyp/gyp/pylib/gyp/generator/dump_dependency_json.py
node_modules/node-gyp/gyp/pylib/gyp/generator/eclipse.py
node_modules/node-gyp/gyp/pylib/gyp/generator/gypd.py
node_modules/node-gyp/gyp/pylib/gyp/generator/gypsh.py
node_modules/node-gyp/gyp/pylib/gyp/generator/make.py
node_modules/node-gyp/gyp/pylib/gyp/generator/msvs.py
node_modules/node-gyp/gyp/pylib/gyp/generator/msvs_test.py
node_modules/node-gyp/gyp/pylib/gyp/generator/ninja.py
node_modules/node-gyp/gyp/pylib/gyp/generator/ninja_test.py
node_modules/node-gyp/gyp/pylib/gyp/generator/xcode.py
node_modules/node-gyp/gyp/pylib/gyp/generator/xcode_test.py
node_modules/node-gyp/gyp/pylib/gyp/input.py
node_modules/node-gyp/gyp/pylib/gyp/input_test.py
node_modules/node-gyp/gyp/pylib/gyp/mac_tool.py
node_modules/node-gyp/gyp/pylib/gyp/msvs_emulation.py
node_modules/node-gyp/gyp/pylib/gyp/MSVSNew.py
node_modules/node-gyp/gyp/pylib/gyp/MSVSProject.py
node_modules/node-gyp/gyp/pylib/gyp/MSVSSettings.py
node_modules/node-gyp/gyp/pylib/gyp/MSVSSettings_test.py
node_modules/node-gyp/gyp/pylib/gyp/MSVSToolFile.py
node_modules/node-gyp/gyp/pylib/gyp/MSVSUserFile.py
node_modules/node-gyp/gyp/pylib/gyp/MSVSUtil.py
node_modules/node-gyp/gyp/pylib/gyp/MSVSVersion.py
node_modules/node-gyp/gyp/pylib/gyp/ninja_syntax.py
node_modules/node-gyp/gyp/pylib/gyp/simple_copy.py
node_modules/node-gyp/gyp/pylib/gyp/win_tool.py
node_modules/node-gyp/gyp/pylib/gyp/xcode_emulation.py
node_modules/node-gyp/gyp/pylib/gyp/xcode_ninja.py
node_modules/node-gyp/gyp/pylib/gyp/xcodeproj_file.py
node_modules/node-gyp/gyp/pylib/gyp/xml_fix.py
node_modules/node-gyp/gyp/pyproject.toml
node_modules/node-gyp/gyp/test_gyp.py
node_modules/node-gyp/gyp/tools/emacs/gyp-tests.el
node_modules/node-gyp/gyp/tools/emacs/gyp.el
node_modules/node-gyp/gyp/tools/emacs/README
node_modules/node-gyp/gyp/tools/emacs/testdata/media.gyp
node_modules/node-gyp/gyp/tools/emacs/testdata/media.gyp.fontified
node_modules/node-gyp/gyp/tools/graphviz.py
node_modules/node-gyp/gyp/tools/pretty_gyp.py
node_modules/node-gyp/gyp/tools/pretty_sln.py
node_modules/node-gyp/gyp/tools/pretty_vcproj.py
node_modules/node-gyp/gyp/tools/README
node_modules/node-gyp/gyp/tools/Xcode/README
node_modules/node-gyp/gyp/tools/Xcode/Specifications/gyp.pbfilespec
node_modules/node-gyp/gyp/tools/Xcode/Specifications/gyp.xclangspec
node_modules/node-gyp/lib/Find-VisualStudio.cs
node_modules/node-gyp/LICENSE
node_modules/node-gyp/node_modules/semver/LICENSE
node_modules/node-gyp/node_modules/semver/range.bnf
node_modules/node-gyp/src/win_delay_load_hook.cc
node_modules/node-gyp/test/fixtures/nodedir/include/node/config.gypi
node_modules/node-gyp/test/fixtures/test-charmap.py
node_modules/node-gyp/update-gyp.py
node_modules/nopt/LICENSE
node_modules/normalize-path/LICENSE
node_modules/normalize-url/license
node_modules/object-keys/.editorconfig
node_modules/object-keys/.eslintrc
node_modules/object-keys/LICENSE
node_modules/once/LICENSE
node_modules/onetime/license
node_modules/ora/license
node_modules/p-cancelable/license
node_modules/p-limit/license
node_modules/p-map/license
node_modules/path-is-absolute/license
node_modules/path-key/license
node_modules/path-scurry/node_modules/lru-cache/LICENSE
node_modules/escalade/index.d.mts
